admin.email.from.address="Gadzillos@gmail.com"
admin.email.from.name="Firstname Lastname"
company.default.locale="en_US"
company.default.time.zone="UTC"
company.default.web.id="gmail.com"
default.admin.email.address.prefix="Gadzillos"
jdbc.default.driverClassName="org.postgresql.Driver"
jdbc.default.password="{{ liferay_db_password }}"
jdbc.default.url="jdbc:postgresql://{{ hostvars.docker_node.ansible_host }}:5432/{{ liferay_db_name }}"
jdbc.default.username="{{ liferay_db_user }}"
liferay.home="{{ liferay_home_dir }}"
setup.wizard.add.sample.data="on"
setup.wizard.enabled="false"